<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tunaikumobile.solidtutorial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".openclosed.violation.OCViolationActivity" />
        <activity android:name=".openclosed.bestPractice.OCBestPracticeActivity" />
        <activity android:name=".dependencyinversion.bestPractice.DIBestPracticeActivity" />
        <activity android:name=".dependencyinversion.violation.DIViolationActivity" />
        <activity android:name=".interfacesegregation.bestPractice.ISBestPracticeActivity" />
        <activity android:name=".interfacesegregation.violation.ISViolationActivity" />
        <activity android:name=".liskovsubstitution.bestPractice.LSBestPracticeActivity" />
        <activity android:name=".liskovsubstitution.violation.LSViolationActivity" />
        <activity android:name=".singleresponsibility.bestPractice.SRBestPracticeActivity" />
        <activity android:name=".singleresponsibility.violation.SRViolationActivity" />
    </application>

</manifest>